{% extends 'base.html.twig' %}

{% block title %}Create template
{% endblock %}

{% block body %}
	<section>
		<h1>Create a new template</h1>
		<div class="left-column">
			<p>Template</p>
			<a href="#" class="btn btn-primary">Changer de template</a>
			<div class="tab-pane">
				<div id="form-container" data-controller="element-manager" data-element-manager-target="formContainer"></div>
				{{ form(form) }}
				</div>
			</div>

			<div class="right-column">
				<div id="elements">
					<div class="element" data-type="image" draggable="true">Image</div>
					<div class="element" data-type="qrcode" draggable="true">QR Code</div>
					<div class="element" data-type="text" draggable="true">Texte</div>
				</div>
				<div id="canvas" data-controller="element-manager"><!-- Zone de drop pour le canvas --></div>
			</div>
		</section>
	{% endblock %}
